In [32]:
from __future__ import print_function, division

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# update line below with your path to the turnstile data file
data = pd.read_csv('/Users/alexandrasmith/ds/metis/proj1_benson/Turnstile_Usage_Data__2017.csv')

# strip potential spaces
data.columns = data.columns.str.strip()

In [3]:
# add datetime column and change it to datetime time
data['Formatted_Datetime'] = pd.to_datetime(data['Date'] + ' ' + data['Time'], format = '%m/%d/%Y %H:%M:%S')

In [4]:
# view new column
data.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits,Formatted_Datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00

In [5]:
# check type of new column
data.Formatted_Datetime.dtypes == 'datetime64[ns]'

True

In [6]:
# create a new column get the day of the week
data['Day_of_week'] = data['Formatted_Datetime'].dt.dayofweek # 0 = Monday, 1 = Tuesday, 3 = Wedenesday, etc.
del data['Time'] #not needed anymore
del data['Date']

# add new columns 'date', 'year', 'month', 'day'  
data['Date'] = [d.date() for d in data['Formatted_Datetime']]
data['Year'] = [d.year for d in data['Date']]
data['Month'] = [d.month for d in data['Date']]
data['Day'] = [d.day for d in data['Date']]
data['Hour'] = data['Formatted_Datetime'].dt.hour

In [7]:
# view new columns
data.head(2)

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991546,2028378,2016-12-31 03:00:00,5,2016-12-31,2016,12,31,3
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991565,2028389,2016-12-31 07:00:00,5,2016-12-31,2016,12,31,7

In [8]:
# add new column 'season' 
def seasonFun(mon):
    month=int(mon)
    if month>=3 and month<=5:
        return 'Spring'
    elif month>=6 and month<=8:
        return 'Summer'
    elif month>=9 and month<=11:
        return 'Fall'
    else:
        return 'Winter'
    
data['Season']= [seasonFun(s) for s in data['Month']]

In [9]:
# view new column
data.head(2)

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour,Season
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991546,2028378,2016-12-31 03:00:00,5,2016-12-31,2016,12,31,3,Winter
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991565,2028389,2016-12-31 07:00:00,5,2016-12-31,2016,12,31,7,Winter

In [10]:
# add new column time of day
def timeFun(time):
    
    if time>=5 and time<12:
        return('Morning')
    elif time>=12 and time<17:
        return('Afternoon')
    elif time>=17 and time<21:
        return('Evening')
    else:
        return('Night')
    
data['Time_of_day']= [timeFun(t) for t in data['Hour']]

In [11]:
# view new column
data.head(2)

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour,Season,Time_of_day
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991546,2028378,2016-12-31 03:00:00,5,2016-12-31,2016,12,31,3,Winter,Night
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991565,2028389,2016-12-31 07:00:00,5,2016-12-31,2016,12,31,7,Winter,Morning

In [12]:
mask = ((data["C/A"] == "A002") & 
        (data["Unit"] == "R051") & 
        (data["SCP"] == "02-00-00") & 
        (data["Station"] == "59 ST"))
data[mask].head()

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour,Season,Time_of_day
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991546,2028378,2016-12-31 03:00:00,5,2016-12-31,2016,12,31,3,Winter,Night
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991565,2028389,2016-12-31 07:00:00,5,2016-12-31,2016,12,31,7,Winter,Morning
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991644,2028441,2016-12-31 11:00:00,5,2016-12-31,2016,12,31,11,Winter,Morning
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5991971,2028502,2016-12-31 15:00:00,5,2016-12-31,2016,12,31,15,Winter,Afternoon
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,5992418,2028543,2016-12-31 19:00:00,5,2016-12-31,2016,12,31,19,Winter,Evening

In [13]:
(data
 .groupby(["C/A", "Unit", "SCP", "Station", "Formatted_Datetime"])
 .Entries.count()
 .reset_index()
 .sort_values("Entries", ascending=False)).head(5)

           C/A  Unit       SCP         Station  Formatted_Datetime  Entries
3661412  N329A  R201  01-06-01  WOODHAVEN BLVD 2017-03-17 05:00:00        2
7672131   R408  R449  00-00-02        E 149 ST 2017-03-10 08:00:00        2
1025742   C023  R213  00-00-01    BAY RIDGE AV 2017-10-07 16:00:00        2
1025743   C023  R213  00-00-01    BAY RIDGE AV 2017-10-07 20:00:00        2
1025744   C023  R213  00-00-01    BAY RIDGE AV 2017-10-08 00:00:00        2

In [14]:
# on 10/7, we seem to have two entries for same time. let's take a look
mask = ((data["C/A"] == "C023") & 
(data["Unit"] == "R213") & 
(data["SCP"] == "00-00-01") & 
(data["Station"] == "BAY RIDGE AV") &
(data["Formatted_Datetime"].dt.date == pd.datetime(2017, 10, 7).date()))
data[mask].head()

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour,Season,Time_of_day
6918204,C023,R213,00-00-01,BAY RIDGE AV,R,BMT,RECOVR AUD,7595913,4642114,2017-10-07 12:00:00,5,2017-10-07,2017,10,7,12,Fall,Afternoon
6918205,C023,R213,00-00-01,BAY RIDGE AV,R,BMT,REGULAR,7595915,4642117,2017-10-07 16:00:00,5,2017-10-07,2017,10,7,16,Fall,Afternoon
6918206,C023,R213,00-00-01,BAY RIDGE AV,R,BMT,RECOVR AUD,6656915,2625182,2017-10-07 16:00:00,5,2017-10-07,2017,10,7,16,Fall,Afternoon
6918207,C023,R213,00-00-01,BAY RIDGE AV,R,BMT,REGULAR,7595915,4642117,2017-10-07 20:00:00,5,2017-10-07,2017,10,7,20,Fall,Evening
6918208,C023,R213,00-00-01,BAY RIDGE AV,R,BMT,RECOVR AUD,6656915,2625182,2017-10-07 20:00:00,5,2017-10-07,2017,10,7,20,Fall,Evening

In [15]:
data.Description.value_counts()

REGULAR       8845081
RECOVR AUD      33122
Name: Description, dtype: int64

In [16]:
# get rid of the duplicate entries
data.sort_values(["C/A", "Unit", "SCP", "Station", "Formatted_Datetime"], inplace=True, ascending=False)
data.drop_duplicates(subset=["C/A", "Unit", "SCP", "Station", "Formatted_Datetime"], inplace=True)

In [17]:
# sanity check to verify that "C/A", "Unit", "SCP", "Station", "Formatted_Datetime" is unique
(data
 .groupby(["C/A", "Unit", "SCP", "Station", "Formatted_Datetime"])
 .Entries.count()
 .reset_index()
 .sort_values("Entries", ascending=False)).head(5)

          C/A  Unit       SCP         Station  Formatted_Datetime  Entries
0        A002  R051  02-00-00           59 ST 2016-12-31 03:00:00        1
5918737  R145  R032  00-06-02  TIMES SQ-42 ST 2017-02-15 03:00:00        1
5918751  R145  R032  00-06-02  TIMES SQ-42 ST 2017-02-17 11:00:00        1
5918750  R145  R032  00-06-02  TIMES SQ-42 ST 2017-02-17 07:00:00        1
5918749  R145  R032  00-06-02  TIMES SQ-42 ST 2017-02-17 03:00:00        1

In [18]:
# sanity check to verify the duplicate we looked at before is gone
data.iloc[6918205:6918207]

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour,Season,Time_of_day
6938882,N023,R332,01-00-02,135 ST,BC,IND,REGULAR,861025,2623328,2017-10-13 09:00:00,4,2017-10-13,2017,10,13,9,Fall,Morning
6938881,N023,R332,01-00-02,135 ST,BC,IND,REGULAR,860926,2622981,2017-10-13 05:00:00,4,2017-10-13,2017,10,13,5,Fall,Morning

In [19]:
# create a df to look at daily data counts
daily_data = data.groupby(["C/A", "Unit", "SCP", "Station", "Date"]).Entries.first().reset_index()

In [20]:
daily_data.head()

    C/A  Unit       SCP Station        Date  Entries
0  A002  R051  02-00-00   59 ST  2016-12-31  5992638
1  A002  R051  02-00-00   59 ST  2017-01-01  5993515
2  A002  R051  02-00-00   59 ST  2017-01-02  5994466
3  A002  R051  02-00-00   59 ST  2017-01-03  5996220
4  A002  R051  02-00-00   59 ST  2017-01-04  5997865

In [21]:
daily_data[["Prev_Date", "Prev_Entries"]] = (daily_data
                                                       .groupby(["C/A", "Unit", "SCP", "Station"])["Date", "Entries"]
                                                       .transform(lambda grp: grp.shift(1)))

In [22]:
daily_data.head()

    C/A  Unit       SCP Station        Date  Entries   Prev_Date  Prev_Entries
0  A002  R051  02-00-00   59 ST  2016-12-31  5992638         NaN           NaN
1  A002  R051  02-00-00   59 ST  2017-01-01  5993515  2016-12-31     5992638.0
2  A002  R051  02-00-00   59 ST  2017-01-02  5994466  2017-01-01     5993515.0
3  A002  R051  02-00-00   59 ST  2017-01-03  5996220  2017-01-02     5994466.0
4  A002  R051  02-00-00   59 ST  2017-01-04  5997865  2017-01-03     5996220.0

In [24]:
# drop the rows for last date
daily_data.dropna(subset=["Prev_Date"], axis=0, inplace=True)

In [25]:
daily_data[daily_data["Entries"] < daily_data["Prev_Entries"]].head()

,C/A,Unit,SCP,Station,Date,Entries,Prev_Date,Prev_Entries
4557,A006,R079,00-00-02,5 AV/59 ST,2017-06-18,5439826,2017-06-17,7807196.0
9885,A010,R080,00-00-05,57 ST-7 AV,2017-05-15,3576,2017-05-14,430596.0
10710,A011,R080,01-00-00,57 ST-7 AV,2017-01-01,887351557,2016-12-31,887353077.0
10711,A011,R080,01-00-00,57 ST-7 AV,2017-01-02,887349985,2017-01-01,887351557.0
10712,A011,R080,01-00-00,57 ST-7 AV,2017-01-03,887347008,2017-01-02,887349985.0

In [30]:
# why is the counter counting in reverse?
mask = ((data["C/A"] == "A011") & 
(data["Unit"] == "R080") & 
(data["SCP"] == "01-00-00") & 
(data["Station"] == "57 ST-7 AV") &
(data["Date"] == pd.datetime(2017, 5, 14).date()))
data[mask].head()

,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits,Formatted_Datetime,Day_of_week,Date,Year,Month,Day,Hour,Season,Time_of_day
3340989,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,REGULAR,886974575,492630940,2017-05-14 20:00:00,6,2017-05-14,2017,5,14,20,Spring,Evening
3340988,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,REGULAR,886975021,492631285,2017-05-14 16:00:00,6,2017-05-14,2017,5,14,16,Spring,Afternoon
3340987,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,REGULAR,886975348,492631844,2017-05-14 12:00:00,6,2017-05-14,2017,5,14,12,Spring,Afternoon
3340986,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,REGULAR,886975592,492632296,2017-05-14 08:00:00,6,2017-05-14,2017,5,14,8,Spring,Morning
3340985,A011,R080,01-00-00,57 ST-7 AV,NQRW,BMT,REGULAR,886975661,492632426,2017-05-14 04:00:00,6,2017-05-14,2017,5,14,4,Spring,Night

In [31]:
# let's see how many stations have this problem

(daily_data[daily_data["Entries"] < daily_data["Prev_Entries"]]
    .groupby(["C/A", "Unit", "SCP", "Station"])
     .size())

C/A    Unit  SCP       Station
A006   R079  00-00-02  5 AV/59 ST           1
A010   R080  00-00-05  57 ST-7 AV           1
A011   R080  01-00-00  57 ST-7 AV         314
A016   R081  03-06-01  49 ST                2
A025   R023  01-03-01  34 ST-HERALD SQ    282
             01-03-02  34 ST-HERALD SQ    314
A031   R083  00-00-00  23 ST                1
A034   R170  03-00-01  14 ST-UNION SQ       2
A035   R170  00-00-01  14 ST-UNION SQ       6
             00-00-02  14 ST-UNION SQ       1
             00-00-04  14 ST-UNION SQ       1
A037   R170  05-00-00  14 ST-UNION SQ       2
A042   R086  01-00-04  PRINCE ST            1
A043   R462  00-06-00  CANAL ST             5
A047   R087  00-06-00  CITY HALL            1
A049   R088  02-05-00  CORTLANDT ST       239
A050   R088  00-03-00  CORTLANDT ST         1
             00-06-03  CORTLANDT ST         1
A054   R227  01-00-01  RECTOR ST            1
             01-06-00  RECTOR ST            1
A060   R001  00-00-02  WHITEHALL S-FRY      3
             00-00-04  WHITEHALL S-FRY      1
             00-00-06  WHITEHALL S-FRY      2
A066   R118  00-00-00  CANAL ST           314
A069   R044  01-00-02  CHAMBERS ST          1
A071   R044  02-00-02  CHAMBERS ST          1
A083   R125  00-00-04  BROAD ST             1
A084   R125  01-00-00  BROAD ST             1
B009   R411  00-05-00  PARK PLACE           1
B016   R098  00-03-01  CHURCH AV            1
                                         ...
R509   R121  00-00-02  QUEENSBORO PLZ       1
R514   R094  00-00-02  ASTORIA BLVD         1
R515   R095  00-00-03  ASTORIA DITMARS      1
R524   R347  00-05-00  69 ST                1
R528   R097  00-00-02  JUNCTION BLVD        1
             00-00-04  JUNCTION BLVD        1
R529   R208  00-00-03  103 ST-CORONA        1
R532H  R328  02-03-05  METS-WILLETS PT      1
R533   R055  00-00-04  FLUSHING-MAIN        1
             00-03-06  FLUSHING-MAIN        1
R601A  R108  02-05-00  BOROUGH HALL         1
R602   R108  00-06-01  BOROUGH HALL         1
R604   R108  03-00-03  BOROUGH HALL         1
             03-00-05  BOROUGH HALL         2
R610   R057  00-05-00  ATL AV-BARCLAY       1
R621   R060  00-03-00  EASTN PKWY-MUSM      1
             00-03-01  EASTN PKWY-MUSM      1
R622   R123  00-00-00  FRANKLIN AV        314
R627   R063  00-03-02  SUTTER AV-RUTLD      1
R629   R065  00-03-00  ROCKAWAY AV          1
             00-03-01  ROCKAWAY AV          1
R632   R067  00-00-00  PENNSYLVANIA AV      1
R633   R068  00-00-02  VAN SICLEN AV        1
R646   R110  01-00-01  FLATBUSH AV-B.C    314
R730   R431  00-00-04  EASTCHSTER/DYRE    190
S101A  R070  01-03-02  ST. GEORGE           1
S102   R165  00-05-01  TOMPKINSVILLE        1
TRAM1  R468  00-00-00  RIT-MANHATTAN        1
             00-00-01  RIT-MANHATTAN        1
             00-05-00  RIT-MANHATTAN        1
Length: 607, dtype: int64

In [34]:
def get_daily_counts(row, max_counter):
    counter = row["Entries"] - row["Prev_Entries"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["Entries"], row["Prev_Entries"])
        return(0)
    return(counter)

# if counter is > 1Million, then the counter might have been reset.  
# just set it to zero as different counters have different cycle limits
_ = daily_data.apply(get_daily_counts, axis=1, max_counter=1000000)

5439826 7807196.0
67108879 19154.0
1241453652 11978209.0
1837 6066410.0
1866 10201425.0
67109168 135642.0
201787151 2415394.0
6514 7089651.0
2711 557426588.0
1810 1272207.0
428 2458637.0
100664101 3701460.0
1112 100726770.0
1451 51501987.0
117440752 10219.0
1245 1340550.0
67108864 832.0
262912 67108865.0
100663301 262912.0
189 2960224.0
371 100838424.0
1016 1036316.0
1868 1431723.0
117440653 2163355.0
96 2605955.0
225 2355469.0
0 4017898.0
4017898 0.0
4513888 299176.0
1567691500 1624802.0
574 4607298.0
1211 1128368.0
16796105 61127.0
142 16796105.0
1114258 8913764.0
138 2026070.0
230991 5708897.0
2802 6926320.0
308 5412031.0
285 1238565.0
1409325504 5510695.0
329485 3792069.0
3392662 8238923.0
419299441 285113531.0
285016031 419273605.0
837 284994121.0
539 8186848.0
2031088564 10518173.0
5184970 2684419.0
2684420 5184970.0
117484783 471260.0
458752 4773394.0
584 1615482.0
1946191222 7661697.0
1090546708 4319312.0
805309266 3152624.0
3168141 805330877.0
67604540 117722769.0
231 7586045.0
135 2954597.0
214 1401547.0
1627414010 6389215.0
2361 1475655.0
377 285382236.0
470 6735977.0
1422 2793082.0
1425 11823537.0
374 2988884.0
838882038 3322932.0
93 3649315.0
1103 7011426.0
309 4915075.0
1937 2945098.0
342 7896924.0
458752 67108864.0
150994944 66.0
68 150994944.0
1819 1848457.0
67109439 5975290.0
9634 17542782.0
1051 2154458.0
36840934 1554162.0
671 36846821.0
976 5439401.0
7 8266480.0
459640 5456407.0
571 16594230.0
2083 3316604.0
2571 5338970.0
262190 6576459.0
2438 9417254.0
1127 13729557.0
884 8223907.0
67109031 546899.0
117440534 67109932.0
202 117440534.0
2014 4117161.0
1214793464 3346341.0
632 11005861.0
346 2222326.0
150995203 892503.0
2130669260 8476560.0
2833 1111672.0
1064 21566554.0
117440721 838749.0
2357 2742008.0
1157637815 4565147.0
959 6199586.0
1811 4352004.0
12809 1727826.0
11122 5389173.0
13241 4669120.0
1727832 11227.0
5389179 9393.0
4669126 10874.0
657 8960071.0
796 8286090.0
1042 9296098.0
3249 1713154.0
3257 10051710.0
12844 5240194.0
6987 12161336.0
824640994 7076792.0
6207 1852376.0
117440512 0.0
134217778 3189.0
25 134254743.0
609 20518689.0
688 1538746.0
100675999 7537.0
5655 6400030.0
21 137111514.0
83942693 381404.0
40 83950537.0
310 1030601.0
262144 67108864.0
244 2163204.0
2496 1203615.0
2108 2341578.0
934214846 916848676.0
66285 3319756.0
33554825 3050267.0
67 33655877.0
3962 3439954.0
1476400717 3498429.0
39 10610211.0
150994944 1090866487.0
655363 150994944.0
738214986 2885186.0
166 3368234.0
590865 3397432.0
1045 4324854.0
1622 11782164.0
134217750 25673.0
15 134218064.0
67108889 478.0
24 67109351.0
596 2688348.0
100663432 11556.0
52 1946567.0
1431 5527282.0
4532 8036361.0
828 3834191.0
1115 1402157.0
659 665415304.0
822 2295764.0
975 12654250.0
2428 101033782.0
2623 4733554.0
2507 14181726.0
3370113 103217105.0
67109884 3369937.0
67108947 103214872.0
103219486 67108947.0
67109547 3368330.0
127 67109547.0
145 3879912.0
192 2146872.0
83886331 76615.0
3539 1028498.0
17 2074505.0
18 1163255.0
196017136 4904937.0
508626159 196017136.0
100994716 7938051.0
4091102 102746811.0
262 4223076.0
4365702 204089.0
100964971 4076385.0
452 100994529.0
4315676 100963469.0
0 4365402.0
409 4313170.0
2164 13435856.0
84110511 3409570.0
18 84145227.0
3410482 84109915.0
151025511 3463157.0
480 3292006.0
3170 120409011.0
3496 11782239.0
1258284745 11897615.0
2326 19677845.0
1777 5793781.0
620812893 2482647.0
1328 2519580.0
5505043 785560.0
872102255 280892.0
1073550049 100848585.0
852050 1073526923.0
459012 117693061.0
117440512 9966566.0
458855 67248848.0
459136 67239208.0
16777385 459672.0
117440699 16777385.0
117440514 2582.0
2699 4472070.0
134217880 168419996.0
1929349962 9255304.0
2700 5876045.0
3130 1832920.0
67109532 3437117.0
526211 67606899.0
91 3536423.0
143 1927705.0
16784783 69895.0
2224 16799815.0
1103 2445815.0
49 1684866.0
1275 1049795.0
1346 1356336.0
1125 1444394.0
882 1941584.0
21 3047392.0
276 2534438.0
2328 2882353.0
12136 1448912.0
1231 2296694.0
360 2450330.0
1924 1214907.0
1881 1018968.0
1276 2296568.0
5029 1757455.0
954 1241684.0
811 1020764.0
1220 1175681.0
117528731 67168456.0
234934808 946128.0
1625 1883307582.0
15334 1154257836.0
178 1938072.0
954 3410129.0
993 7353406.0
1319 21830441.0
853 1855093.0
35 3612781.0
1766 18191052.0
663 1034276.0
568 5449528.0
67108920 442042.0
526174 18553246.0
587202560 2293760.0
33554432 587202560.0
524288 33554432.0
439 1480659.0
1633 1558447.0
3630 34755189.0
117440513 471859.0
134217729 117440686.0
458753 2792774.0
5456752 458753.0
655360 5456752.0
117440758 655450.0
691259285 8105279.0
1074 16660967.0
330 12099046.0
2162 7429992.0
2365 7334122.0
288 5961768.0
1448 10512102.0
646 2525748.0
5636 2520625.0
2476 2567690.0
183 605785512.0
44 13531479.0
1882 9700114.0
632 537737953.0
50331734 35123.0
119 50337328.0
33977441 26300.0
655451 33979740.0
922761058 3446.0
4 922761058.0
695 2425805.0
2953 4716316.0
844 3338848.0
2198 1628888.0
1332 1158157.0
3744 9494470.0
1737 5962068.0
156 2766086.0
117440514 76.0
589834 117440760.0
100710824 344567.0
1457 1248316.0
634 4208028.0
950 8650727.0
13404064 1923022.0
1923044 13404511.0
0 1923044.0
17881992 3237616.0
3237649 17882744.0
2 3237649.0
1792 28533742.0
4499664 1792.0
19631 32611926.0
1923044 13402384.0
3237649 17879878.0
227 4091595.0
1792 28529236.0
13404729 1765134.0
17883120 13945905.0
28534459 8313479.0
1403 29161209.0
1969278 3481634.0
32611926 10322474.0
34209792 9397.0
652804099 522.0
4241 20236930.0
503286695 14838374.0
1694 1595713235.0
1370 856595404.0
797 520746383.0
224 10475603.0
855677260 3393848.0
58659 26830115.0
70041 19461075.0
303 8245866.0
2 134217823.0
16187470 117440512.0
0 16187470.0
17023591 5980600.0
2752980 101427108.0
3258 2776264.0
7 1938176.0
15538 3321322.0
838868976 3295665.0
9792 10457984.0
0 3926691.0
33554892 2724829.0
459436 33827352.0
203686168 5738609.0
401 2943659.0
16664201 3585481.0
2322 16805471.0
42351 3438662.0
134225648 559291.0
419479882 1672010.0
244064869 1945225334.0
67500 8456728.0
1050 2136240.0
67108867 887.0
66892 3609204.0
201334414 1203356.0
134218754 573098.0
817 5411891.0
12069786 42149.0
590266 2695044.0
458757 150995091.0
0 67108864.0
202 2564991.0
3198 1112439.0
335580007 1356852.0
1503 335739197.0
272 3373239.0
201329780 67247793.0
1872 1970174.0
0 1260429.0
3261 5431681.0
513 11540894.0
332 3826931.0
3051 17334466.0
117442931 19188583.0
38399 118234189.0
328661 5129951.0
1193 10043143.0
1575033 571098.0
2480 6630213.0
855642253 3380345.0
1560221276 2525075.0
3610141 538709.0
540628 3610141.0

In [35]:
def get_daily_counts(row, max_counter):
    counter = row["Entries"] - row["Prev_Entries"]
    if counter < 0:
        # maybe the counter is reversed?
        counter = -counter
    if counter > max_counter:
        print(row["Entries"], row["Prev_Entries"])
        counter = min(row["Entries"], row["Prev_Entries"])
    if counter > max_counter:
        # check it again to make sure we are not giving a counter that's too big
        return(0)
    return(counter)

# if counter is > 1Million, then the counter might have been reset.  
# just set it to zero as different counters have different cycle limits
daily_data["Daily_Entries"] = daily_data.apply(get_daily_counts, axis=1, max_counter=1000000)

5439826 7807196.0
67108879 19154.0
1241453652 11978209.0
1837 6066410.0
1866 10201425.0
67109168 135642.0
201787151 2415394.0
6514 7089651.0
2711 557426588.0
1810 1272207.0
428 2458637.0
100664101 3701460.0
1112 100726770.0
1451 51501987.0
117440752 10219.0
1245 1340550.0
67108864 832.0
262912 67108865.0
100663301 262912.0
189 2960224.0
371 100838424.0
1016 1036316.0
1868 1431723.0
117440653 2163355.0
96 2605955.0
225 2355469.0
0 4017898.0
4017898 0.0
4513888 299176.0
1567691500 1624802.0
574 4607298.0
1211 1128368.0
16796105 61127.0
142 16796105.0
1114258 8913764.0
138 2026070.0
230991 5708897.0
2802 6926320.0
308 5412031.0
285 1238565.0
1409325504 5510695.0
329485 3792069.0
3392662 8238923.0
419299441 285113531.0
285016031 419273605.0
837 284994121.0
539 8186848.0
2031088564 10518173.0
5184970 2684419.0
2684420 5184970.0
117484783 471260.0
458752 4773394.0
584 1615482.0
1946191222 7661697.0
1090546708 4319312.0
805309266 3152624.0
3168141 805330877.0
67604540 117722769.0
231 7586045.0
135 2954597.0
214 1401547.0
1627414010 6389215.0
2361 1475655.0
377 285382236.0
470 6735977.0
1422 2793082.0
1425 11823537.0
374 2988884.0
838882038 3322932.0
93 3649315.0
1103 7011426.0
309 4915075.0
1937 2945098.0
342 7896924.0
458752 67108864.0
150994944 66.0
68 150994944.0
1819 1848457.0
67109439 5975290.0
9634 17542782.0
1051 2154458.0
36840934 1554162.0
671 36846821.0
976 5439401.0
7 8266480.0
459640 5456407.0
571 16594230.0
2083 3316604.0
2571 5338970.0
262190 6576459.0
2438 9417254.0
1127 13729557.0
884 8223907.0
67109031 546899.0
117440534 67109932.0
202 117440534.0
2014 4117161.0
1214793464 3346341.0
632 11005861.0
346 2222326.0
150995203 892503.0
2130669260 8476560.0
2833 1111672.0
1064 21566554.0
117440721 838749.0
2357 2742008.0
1157637815 4565147.0
959 6199586.0
1811 4352004.0
12809 1727826.0
11122 5389173.0
13241 4669120.0
1727832 11227.0
5389179 9393.0
4669126 10874.0
657 8960071.0
796 8286090.0
1042 9296098.0
3249 1713154.0
3257 10051710.0
12844 5240194.0
6987 12161336.0
824640994 7076792.0
6207 1852376.0
117440512 0.0
134217778 3189.0
25 134254743.0
609 20518689.0
688 1538746.0
100675999 7537.0
5655 6400030.0
21 137111514.0
83942693 381404.0
40 83950537.0
310 1030601.0
262144 67108864.0
244 2163204.0
2496 1203615.0
2108 2341578.0
934214846 916848676.0
66285 3319756.0
33554825 3050267.0
67 33655877.0
3962 3439954.0
1476400717 3498429.0
39 10610211.0
150994944 1090866487.0
655363 150994944.0
738214986 2885186.0
166 3368234.0
590865 3397432.0
1045 4324854.0
1622 11782164.0
134217750 25673.0
15 134218064.0
67108889 478.0
24 67109351.0
596 2688348.0
100663432 11556.0
52 1946567.0
1431 5527282.0
4532 8036361.0
828 3834191.0
1115 1402157.0
659 665415304.0
822 2295764.0
975 12654250.0
2428 101033782.0
2623 4733554.0
2507 14181726.0
3370113 103217105.0
67109884 3369937.0
67108947 103214872.0
103219486 67108947.0
67109547 3368330.0
127 67109547.0
145 3879912.0
192 2146872.0
83886331 76615.0
3539 1028498.0
17 2074505.0
18 1163255.0
196017136 4904937.0
508626159 196017136.0
100994716 7938051.0
4091102 102746811.0
262 4223076.0
4365702 204089.0
100964971 4076385.0
452 100994529.0
4315676 100963469.0
0 4365402.0
409 4313170.0
2164 13435856.0
84110511 3409570.0
18 84145227.0
3410482 84109915.0
151025511 3463157.0
480 3292006.0
3170 120409011.0
3496 11782239.0
1258284745 11897615.0
2326 19677845.0
1777 5793781.0
620812893 2482647.0
1328 2519580.0
5505043 785560.0
872102255 280892.0
1073550049 100848585.0
852050 1073526923.0
459012 117693061.0
117440512 9966566.0
458855 67248848.0
459136 67239208.0
16777385 459672.0
117440699 16777385.0
117440514 2582.0
2699 4472070.0
134217880 168419996.0
1929349962 9255304.0
2700 5876045.0
3130 1832920.0
67109532 3437117.0
526211 67606899.0
91 3536423.0
143 1927705.0
16784783 69895.0
2224 16799815.0
1103 2445815.0
49 1684866.0
1275 1049795.0
1346 1356336.0
1125 1444394.0
882 1941584.0
21 3047392.0
276 2534438.0
2328 2882353.0
12136 1448912.0
1231 2296694.0
360 2450330.0
1924 1214907.0
1881 1018968.0
1276 2296568.0
5029 1757455.0
954 1241684.0
811 1020764.0
1220 1175681.0
117528731 67168456.0
234934808 946128.0
1625 1883307582.0
15334 1154257836.0
178 1938072.0
954 3410129.0
993 7353406.0
1319 21830441.0
853 1855093.0
35 3612781.0
1766 18191052.0
663 1034276.0
568 5449528.0
67108920 442042.0
526174 18553246.0
587202560 2293760.0
33554432 587202560.0
524288 33554432.0
439 1480659.0
1633 1558447.0
3630 34755189.0
117440513 471859.0
134217729 117440686.0
458753 2792774.0
5456752 458753.0
655360 5456752.0
117440758 655450.0
691259285 8105279.0
1074 16660967.0
330 12099046.0
2162 7429992.0
2365 7334122.0
288 5961768.0
1448 10512102.0
646 2525748.0
5636 2520625.0
2476 2567690.0
183 605785512.0
44 13531479.0
1882 9700114.0
632 537737953.0
50331734 35123.0
119 50337328.0
33977441 26300.0
655451 33979740.0
922761058 3446.0
4 922761058.0
695 2425805.0
2953 4716316.0
844 3338848.0
2198 1628888.0
1332 1158157.0
3744 9494470.0
1737 5962068.0
156 2766086.0
117440514 76.0
589834 117440760.0
100710824 344567.0
1457 1248316.0
634 4208028.0
950 8650727.0
13404064 1923022.0
1923044 13404511.0
0 1923044.0
17881992 3237616.0
3237649 17882744.0
2 3237649.0
1792 28533742.0
4499664 1792.0
19631 32611926.0
1923044 13402384.0
3237649 17879878.0
227 4091595.0
1792 28529236.0
13404729 1765134.0
17883120 13945905.0
28534459 8313479.0
1403 29161209.0
1969278 3481634.0
32611926 10322474.0
34209792 9397.0
652804099 522.0
4241 20236930.0
503286695 14838374.0
1694 1595713235.0
1370 856595404.0
797 520746383.0
224 10475603.0
855677260 3393848.0
58659 26830115.0
70041 19461075.0
303 8245866.0
2 134217823.0
16187470 117440512.0
0 16187470.0
17023591 5980600.0
2752980 101427108.0
3258 2776264.0
7 1938176.0
15538 3321322.0
838868976 3295665.0
9792 10457984.0
0 3926691.0
33554892 2724829.0
459436 33827352.0
203686168 5738609.0
401 2943659.0
16664201 3585481.0
2322 16805471.0
42351 3438662.0
134225648 559291.0
419479882 1672010.0
244064869 1945225334.0
67500 8456728.0
1050 2136240.0
67108867 887.0
66892 3609204.0
201334414 1203356.0
134218754 573098.0
817 5411891.0
12069786 42149.0
590266 2695044.0
458757 150995091.0
0 67108864.0
202 2564991.0
3198 1112439.0
335580007 1356852.0
1503 335739197.0
272 3373239.0
201329780 67247793.0
1872 1970174.0
0 1260429.0
3261 5431681.0
513 11540894.0
332 3826931.0
3051 17334466.0
117442931 19188583.0
38399 118234189.0
328661 5129951.0
1193 10043143.0
1575033 571098.0
2480 6630213.0
855642253 3380345.0
1560221276 2525075.0
3610141 538709.0
540628 3610141.0

In [ ]:
daily_data.head()